* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 25px;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}

/*        Header Section          */

.nav {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 15vh;
  padding: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

/*         Gallary  Section      */

.gallary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.gallary div {
  width: 100%;
}

.gal1,
.gal2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.gal1 img,
.gal2 img {
  width: 100%;
}

.gal1 div,
.gal2 div {
  width: 250px;
  height: 580px;
  margin: 10px;
  text-align: center;
}

/*         Pagination  Section      */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
}

.pagination a:hover {
  background-color: black;
  color: white;
}

#fix {
  background-color: black;
  color: white;
}

#fix:hover {
  background-color: rgb(185, 184, 184);
  color: black;
}

hr {
  width: 80%;
  text-align: center;
  height: 1.5px;
  background-color: rgb(233, 232, 232);
  border-top: none;
}

/*       About   Section      */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  margin-bottom: 100px;
}

.about img {
  width: 80%;
}

.about div {
  width: 80%;
}

/*       Footer   Section      */

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer > div {
  width: 350px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}

/*         Footer  Left  Section      */

.left a {
  text-decoration: none;
  color: #c1121f;
}

.left a:hover {
  text-decoration: underline;
}

/*         Footer  Middle  Section      */

.mid {
  display: flex;
  flex-direction: column;
}

.mid div {
  display: flex;
  align-items: center;
}

.mid hr {
  margin: 0;
  width: 100%;
}

.mid img {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

.mid div:hover {
  background-color: rgb(196, 193, 193);
}

/*         Footer  Right  Section      */

.right {
  display: flex;
}

.rigt > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.c-tag div {
  background-color: gray;
  color: white;
  font-size: 11px;
  padding: 0px 5px;
  margin: 10px 1px;
}

@media only screen and (max-width: 600px) {
  .gal1,
  .gal2 {
    flex-wrap: wrap;
  }
  .footer {
    flex-wrap: wrap;
  }
}

/*         Me   Section       */

.me div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.me img {
  width: 100%;
  box-shadow: 0px 1px 10px 1px rgb(160, 160, 160);
}

/*      Animation      */

.gal1 div:hover,
.gal2 div:hover {
  border: 1px solid white;
  box-shadow: 0px 1px 10px 1px rgb(160, 160, 160);
}

.gal1 div:active,
.gal2 div:active {
  border: 1px solid white;
  box-shadow: 0px 1px 10px 1px rgb(160, 160, 160);
}
